%rebase("editbase.tpl")
<h3>紹介文編集</h3>


<form action="/editevent1" method="post" >
    イベント出演依頼本文編集2：<br>
    <textarea name="edit_event1"  rows="7" cols="500">{{event_old[0]}}</textarea><br>
    <input type="submit" value="送信">
</form>

<form action="/editevent2" method="post" >
    イベント出演依頼本文編集2：<br>
    <textarea name="edit_event2"  rows="7" cols="500">{{event_old[1]}}</textarea><br>
    <input type="submit" value="送信">
</form>

<script src="./js/jquery-3.3.1.js"></script>
<script src="./js/common.js"></script>
