%rebase("editbase.tpl")


<div class="container">
<a href="/editintro" class="item">TOP紹介文編集</a>
<a href="/editnews" class="item">お知らせ投稿・編集</a>
<a href="#" class="item">バルーン教室説明編集/工事中</a>
<a href="/editgallery" class="item">GALLERY編集</a>
</div>

<script src="./js/jquery-3.3.1.js"></script>
<script src="./js/common.js"></script>