<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="static/css/edit.css">
    <title>管理画面</title>
</head>

<body>
<div class="inner">

<h3 class="edit_title">ふうせん屋Sae  HP管理画面</h3>

    {{!base}}
</div>
</body>
</html>