%rebase("editbase.tpl")

<h3>ギャラリー画像編集</h3>



<form action="/editgallery" method="post" enctype="multipart/form-data">
    ギャラリー編集：<br>
    <!-- <input type="file" name="edit_img"><br> -->
    <input multiple="multiple" name="upload[image_file_name][]" type="file" accept="image/*" id="upload">
    <input type="submit" value="画像アップロード">
    
</form>
