%rebase("editbase.tpl")
<h3>紹介文編集</h3>


<form action="/editintro" method="post" >
    紹介文編集：<br>
    <textarea name="edit_intro"  rows="7" cols="500">{{intro_old[0]}}</textarea><br>
    <input type="submit" value="送信">
</form>



<script src="./js/jquery-3.3.1.js"></script>
<script src="./js/common.js"></script>
