/* 検索用 aタグに適切な名前を付けて影響範囲を狭める */

/* 「検索用」で検索してください */

::before a ,
::after a {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
  }
a,
::before a,
::after a {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
	}
	
	textarea    {
    width:70%;
}


body {
  position:relative;
}
 
*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background: #fff;
	color: #333;
	font-family: "游ゴシック体", yugothic, "游ゴシック", "Yu Gothic", "メイリオ", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.6;
}

article,
aside,
footer,
header,
nav,
section,
main {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	border: 0;
	margin: 0;
	padding: 0;
}

a,
a:visited {
	color: inherit;
	outline: none;
}

img {
	border: none;
	height: auto;
	max-width: 100%;
	vertical-align: top;
}

code,
kbd,
pre,
samp {
	font-family: monospace, sans-serif;
	font-size: inherit;
}

ul,
ol {
	list-style: none;
}

table {
	border: 1px solid #eee;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
	width: 100%;
}

th,
td {
	border: 1px solid #eee;
	padding: 4px 6px;
	text-align: left;
	vertical-align: top;
}

blockquote,
q {
	quotes: none;
}

blockquote::after,
blockquote::before,
q::after,
q::before {
	content: "";
	content: none;
}

input,
textarea {
	-webkit-appearance: none;
	background-image: none;
	border: 1px solid #707070;
	border-radius: 0;
	font-family: inherit;
	font-size: inherit;
	padding: 8px;
}

input:focus,
textarea:focus {
	border: 1px solid transparent;
	box-shadow: none;
	outline: none;
}

textarea {
	resize: none;
}

input[type="submit"] {
	border: none;
	cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
	border: none;
	outline: none;
}

input[type="submit"] ::-moz-focus-inner {
	border: none;
	padding: 0;
}

input[type="radio"] {
	display: none;
}

input[type="radio"] + span {
	cursor: pointer;
	display: inline-block;
	margin: 0 0.2em 0;
	padding: 0 0 0 1.2em;
	position: relative;
}

input[type="radio"] + span::before {
	-webkit-transform: translateY(-50%);
	background: #fff;
	border: 1px solid #707070;
	border-radius: 50%;
	content: "";
	display: block;
	height: 1em;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 1em;
}

input[type="radio"] + span::after {
	opacity: 0;
	transition: opacity 0.3s ease 0s;
}

input[type="radio"] + span:focus,
input[type="radio"] + span:checked {
	background: #3f51b5;
	border: 1px solid #fff;
	box-shadow: none;
	outline: none;
}

input[type="radio"]:checked + span::after {
	-webkit-transform: translateY(-50%);
	background: #3f51b5;
	border-radius: 50%;
	content: "";
	display: block;
	height: 0.6em;
	left: 0.2em;
	opacity: 1;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 0.6em;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] + span {
	cursor: pointer;
	display: inline-block;
	margin: 0 0.2em 0;
	padding: 0 0 0 1.2em;
	position: relative;
	transition: all 0.3s ease 0s;
}

input[type="checkbox"] + span::before {
	-webkit-transform: translateY(-50%);
	background: #fff;
	border: 1px solid #707070;
	border-radius: 2px;
	content: "";
	display: block;
	height: 1em;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 1em;
}

input[type="checkbox"] + span::after {
	opacity: 0;
	transition: opacity 0.3s ease 0s;
}

input[type="checkbox"]:checked + span::after {
	-webkit-transform: translateY(-50%) rotate(-45deg);
	border-bottom: 3px solid #3f51b5;
	border-left: 3px solid #3f51b5;
	content: "";
	display: block;
	height: 0.6em;
	left: 0;
	margin-top: -0.2em;
	opacity: 1;
	position: absolute;
	top: 50%;
	transform: translateY(-50%) rotate(-45deg);
	width: 1em;
}

select {
	-moz-appearance: none;
	-webkit-appearance: none;
	background-image: none;
	border: 1px solid #707070;
	border-radius: 0;
	cursor: pointer;
	font-family: inherit;
	font-size: 1em;
	padding: 8px 24px 8px 8px;
	width: 100%;
}

select::-ms-expand {
	display: none;
}

select:focus {
	border: 1px solid transparent;
	box-shadow: none;
	outline: none;
}
/* ここ違ったのでwidth:９８０ｐｘに合わせています */
.inner {
	margin: 0 auto;
	max-width: 100%;
	padding: 80px 0;
	padding-top: 68px;
	width: 980px;
}


@media screen and (max-width: 767px) {
	.inner {
		margin: 0 auto ;
		max-width: 100% ;
		padding: 0 24px ;
		padding-top: 38px ;
		width: 100%;
	}
}



/*            ここからヘッダー            */
/* これ絶対被るから変えよう */


/* 検索用 aタグに適切な名前を付けて影響範囲を狭める */
a {
display: inline-block;
width: 200px;
height: 54px;
text-align: center;
text-decoration: none;
line-height: 54px;
	outline: none;
	color: aliceblue; 
background-color: #52aeef;
border-radius: 3px;
}



	/* **********************************お知らせ******************************************* */
/* **************************************************************** */
.news-items {
	/* padding-top: 90px; */
	height: 250px;
	overflow-y: scroll;
	padding: 0.2em 0.5em;
    margin: 2em 0;
    background: #f8c2c2;
    box-shadow: 0px 0px 0px 10px #f8c2c2;
    border: dashed 2px white;
}

.news-item {
	border-bottom: 2px dashed #707070;
	padding: 18px 0 16px;
	position: relative;
}

.news-item:last-child {
	border-bottom: none;
}

.news-meta {
	font-size: 0;
	left: 0;
	position: absolute;
	top: 16px;
}

.news-time {
	display: inline-block;
	font-size: 16px;
	vertical-align: middle;
	width: 115px;
}

.news-tag {
	display: inline-block;
	margin-right: 30px;
	vertical-align: middle;
}

.news-tag a {
	border-radius: 6px;
	color: #fff;
	display: block;
	font-size: 16px;
	font-weight: 700;
	min-width: 100px;
	padding: 4px;
	text-align: center;
	text-decoration: none;
}

.news-tag a:hover {
	opacity: 0.6;
}

.news-tag.m_tag2 a {
	background: #3f51b5;
}

.news-tag.m_tag3 a {
	background: #e81919;
}

.news-title {
	line-height: 1.625;
	padding-left: 245px;
}

.news-title a {
	color: #333;
	font-size: 16px;
	text-decoration: none;
}

.news-title a:hover {
	opacity: 0.6;
}

.news-archive-link {
	margin-top: 26px;
	text-align: center;
}

.news-archive-link a {
	color: #e81919;
	font-size: 16px;
	font-weight: 700;
	text-decoration: none;
}

.news-archive-link a:hover {
	opacity: 0.6;
}

.news-tag.m_tag1.red{
	background-color:red;
	border-radius: 6px;
}
.news-tag.m_tag1.blue{
	background-color:blue;
	border-radius: 6px;
}
.news-tag.m_tag1.gray{
	background-color:gray;
	border-radius: 6px;
}

/* ########### 1190px以上 ########### */
@media (min-width: 1190px) {
	.inner {
		margin: 0 auto;
		max-width: 100%;
		padding: 80px 0;
		padding-top: 68px;
		width: 980px;
	}
	
	}

@media screen and (max-width: 1082px) {
	.inner {
		padding-left: 24px;
		padding-right: 24px;
	}

}
@media screen and (max-width: 767px) {

	.news-meta {
		align-items: center;
		display: flex;
		margin-bottom: 8px;
		overflow: hidden;
		position: static;
	}

	.news-tag {
		float: right;
		margin-left: auto;
		margin-right: 0;
	}

	.news-title {
		padding-left: 0;
	}

}
/* *********************************************************************************** */


/* ここから編集画面のCSS開始 */

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}

.item {
	margin-bottom: 10px ;

}


.edit_title{
	padding-bottom: 50px;
	text-align:center;
}



/* レスポンシブ対応 */
#contact {
	background: #efefef;
}

#contact > .inner {
	max-width: 100%;
	padding-bottom: 122px;
	width: 800px;
}

.contact-form {
	background: #fff;
	margin-top: 50px;
	padding: 57px 43px 60px 52px;
}

.contact-dl {
	font-size: 0;
}

.contact-label {
	display: inline-block;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 50px;
	padding-top: 24px;
	vertical-align: top;
	width: 177px;
}

.contact-required {
	background: #e81919;
	border-radius: 12px;
	color: #fff;
	display: block;
	font-size: 14px;
	font-weight: 700;
	height: 22px;
	line-height: 22px;
	margin-top: 6px;
	text-align: center;
	width: 46px;
}

.contact-input {
	display: inline-block;
	font-size: 16px;
	margin-bottom: 50px;
	vertical-align: top;
	width: calc(100% - 177px);
}

.contact-input input,
.contact-input textarea {
	border: 1px solid #707070;
	width: 100%;
}

.contact-input input {
	height: 60px;
	line-height: 60px;
	padding: 0 16px;
}

.contact-input textarea {
	height: 240px;
	padding: 10px 16px;
}

.contact-input select {
	background: transparent url(../img/g823.png) no-repeat center right 17px/24px 16px;
	border: 1px solid #707070;
	height: 60px;
	line-height: 60px;
	padding: 0 16px;
	width: 100%;
}

.contact-radio {
	margin-bottom: 44px;
}


.contact-send {
	margin-top: 25px;
	text-align: center;
}

.contact-send input[type="submit"] {
	-webkit-appearance: none;
	background: #3f51b5 url(../img/g10.png) no-repeat center right 14px/13px 20px;
	border-radius: 12px;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
	color: #fff;
	display: inline-block;
	font-size: 20px;
	font-weight: 700;
	height: 56px;
	line-height: 56px;
	max-width: 100%;
	padding: 0;
	position: relative;
	text-align: center;
	text-decoration: none;
	transition: all 0.3s ease 0s;
	width: 261px;
}

.contact-send input[type="submit"]:hover {
	opacity: 0.6;
}
.newslist{
	background:white;
	padding: 20px 50px 50px 50px;
}
.newslist h2{
	text-align: center;
	padding-bottom:50px;
	border-bottom:1px solid #707070;
}
.newslist ul{
    display: flex;
    justify-content: left;
    margin: auto;
	border-bottom: 1px solid #707070;

}
.newslist ul li{
	margin-right: 10px;
	padding: 10px 0;
}
@media screen and (max-width: 767px) {
	.newslist {
	
		padding: 20px 10px;
	}
	.newslist ul li{
		font-size:14px;
		padding:10px 0;
	}

}

.newslist ul .del-btn{
	background:#3f51b5;
	color: white;
	padding:7px ;
	border-radius: 5px;
	font-size:12px;
	width: 30px;
	height: 30px;
	padding:0;
	line-height: 30px;
}
.newslist ul .del-btn:hover{
	opacity: 0.6;
}
@media screen and (max-width: 1082px) {

	.inner {
		padding-left: 24px;
		padding-right: 24px;
	}
}

@media screen and (max-width: 767px) {

	
		.inner {
			padding-left: 16px;
			padding-right: 16px;
			padding-top: 38px;
		}
	
		.section-title {
			font-size: 32px;
			padding-bottom: 16px;
		}
	
		.section-title::after {
			height: 3px;
			width: 32px;
		}



	#contact > .inner {
		padding-bottom: 62px;
	}

	.contact-form {
		padding-left: 16px;
		padding-right: 16px;
	}

	.contact-label {
		display: block;
		font-size: 16px;
		margin-bottom: 12px;
		padding-top: 0;
		width: 100%;
	}

	.contact-required {
		display: inline-block;
		margin-left: 12px;
	}

	.contact-input {
		display: block;
		margin-bottom: 32px;
		width: 100%;
	}

	.contact-input input {
		height: 48px;
		line-height: 48px;
	}

	.contact-input textarea {
		height: 180px;
	}

	.contact-input select {
		height: 48px;
		line-height: 48px;
	}

}