*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background: white;
	color: #333;
	font-family: "游ゴシック体", yugothic, "游ゴシック", "Yu Gothic", "メイリオ", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.6;
}

article,
aside,
footer,
header,
nav,
section,
main {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	border: 0;
	margin: 0;
	padding: 0;
}

a,
a:visited {
	color: white;
	outline: none;
}

img {
	border: none;
	height: auto;
	max-width: 100%;
	vertical-align: top;
}

code,
kbd,
pre,
samp {
	font-family: monospace, sans-serif;
	font-size: inherit;
}

ul,
ol {
	list-style: none;
}

table {
	border: 1px solid #eee;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
	width: 100%;
}

th,
td {
	border: 1px solid #eee;
	padding: 4px 6px;
	text-align: left;
	vertical-align: top;
}

body{
	background:#E0ECF8;
}

blockquote,
q {
	quotes: none;
}

blockquote::after,
blockquote::before,
q::after,
q::before {
	content: "";
	content: none;
}

input,
textarea {
	-webkit-appearance: none;
	background-image: none;
	border: 1px solid #707070;
	border-radius: 0;
	font-family: inherit;
	font-size: inherit;
	padding: 8px;
}

input:focus,
textarea:focus {
	border: 1px solid transparent;
	box-shadow: none;
	outline: none;
}

textarea {
	resize: none;
}

input[type="submit"] {
	border: none;
	cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
	border: none;
	outline: none;
}

input[type="submit"] ::-moz-focus-inner {
	border: none;
	padding: 0;
}

input[type="radio"] {
	display: none;
}

input[type="radio"] + span {
	cursor: pointer;
	display: inline-block;
	margin: 0 0.2em 0;
	padding: 0 0 0 1.2em;
	position: relative;
}

input[type="radio"] + span::before {
	-webkit-transform: translateY(-50%);
	background: #fff;
	border: 1px solid #707070;
	border-radius: 50%;
	content: "";
	display: block;
	height: 1em;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 1em;
}

input[type="radio"] + span::after {
	opacity: 0;
	transition: opacity 0.3s ease 0s;
}

input[type="radio"] + span:focus,
input[type="radio"] + span:checked {
	background: #3f51b5;
	border: 1px solid #fff;
	box-shadow: none;
	outline: none;
}

input[type="radio"]:checked + span::after {
	-webkit-transform: translateY(-50%);
	background: #3f51b5;
	border-radius: 50%;
	content: "";
	display: block;
	height: 0.6em;
	left: 0.2em;
	opacity: 1;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 0.6em;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] + span {
	cursor: pointer;
	display: inline-block;
	margin: 0 0.2em 0;
	padding: 0 0 0 1.2em;
	position: relative;
	transition: all 0.3s ease 0s;
}

input[type="checkbox"] + span::before {
	-webkit-transform: translateY(-50%);
	background: #fff;
	border: 1px solid #707070;
	border-radius: 2px;
	content: "";
	display: block;
	height: 1em;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 1em;
}

input[type="checkbox"] + span::after {
	opacity: 0;
	transition: opacity 0.3s ease 0s;
}

input[type="checkbox"]:checked + span::after {
	-webkit-transform: translateY(-50%) rotate(-45deg);
	border-bottom: 3px solid #3f51b5;
	border-left: 3px solid #3f51b5;
	content: "";
	display: block;
	height: 0.6em;
	left: 0;
	margin-top: -0.2em;
	opacity: 1;
	position: absolute;
	top: 50%;
	transform: translateY(-50%) rotate(-45deg);
	width: 1em;
}

select {
	-moz-appearance: none;
	-webkit-appearance: none;
	background-image: none;
	border: 1px solid #707070;
	border-radius: 0;
	cursor: pointer;
	font-family: inherit;
	font-size: 1em;
	padding: 8px 24px 8px 8px;
	width: 100%;
}

select::-ms-expand {
	display: none;
}

select:focus {
	border: 1px solid transparent;
	box-shadow: none;
	outline: none;
}

.inner {
	margin: 0 auto;
	max-width: 100%;
	padding: 80px 0;
	padding-top: 68px;
	width: 980px;
}


@media screen and (max-width: 767px) {
	.inner {
		margin: 0 auto ;
		max-width: 100% ;
		padding: 0 24px ;
		padding-top: 68px ;
		width: 100%;
	}
}

/* ****************ここからヘッダー******** */


#header {
	background: transparent url(../image/青空.jpg) no-repeat center center/cover;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.11);
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 20;
}

@media screen and (max-width: 767px) {
	#header {
		display: none;
	}
}

#header > .inner {
	align-items: center;
	display: flex;
	height: 100px;
	padding: 0;
}


.header-nav {
	margin-left: auto;
	padding-top: 6px;
}



.header-item {
	display: inline-block;
	padding: 0 12px;
}

.header-item img{
	margin-left: 10px;
}

.header-item:first-child {
	padding-left: 0;
}

.header-item:last-child {
	padding-right: 0;
}

.header-item > a {
	border-bottom: 3px solid transparent;
	color: #fff;
	display: block;
	padding-bottom: 4px;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.header-item > a.m_active {
	border-bottom: 3px solid #e81919;
}

.header-item > a:hover {
	border-bottom: 3px solid #e81919;
}


.mvwrapper {
	height: 100%;

}



#mv {
	background: transparent url(../image/青空.jpg) no-repeat center center/cover ;
	height:100% ;
}



@media screen and (max-width: 767px) {
	#mv {
		background: transparent url(../image/青空.jpg) no-repeat center center/cover;
		height:100% ;

	}
}

.mv-mask{
	height: 100%;
	
}

#mv > .inner {
	min-height: 700px;
	padding: 0;
	position: relative;
	width: 100%;
}


@media screen and (max-width: 767px) {
	#mv > .inner {
		min-height: 484px;

	}
}

.mv-content {
	-webkit-transform: translateX(-50%);
	left: 50%;
	position: absolute;
	text-align: center;
	padding-bottom: 100px;
	transform: translateX(-50%);
	width: 100%;
}

@media screen and (max-width: 767px) {
	.mv-content {
		-webkit-transform: none;
		padding-top: 180px;
		position: static;
		transform: none;
		min-height: 484px;
	}
}


.mv-title {
	/* position: relative;
	margin: 10px auto; */
	margin-top: 200px;
	/* text-align: center; */
	/* line-height: 80px; */
	/* vertical-align:middle; */

}


@media screen and (max-width: 767px) {
.mv-title {
	margin-top:0;
	}
}

/* 
.mv-title img {
	vertical-align: middle;
} */

/* ロゴがテキストだった時の名残 */
/* .mv-title span {
	position: absolute;
	display: inline-block;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	width :500px;
	text-align:center;
} */
/* 
@media screen and (max-width: 767px) {
	.mv-title span {
		width :100px;
	}
} */

.mv-btn {
	margin-top: 74px;
	text-align: center;
}

@media screen and (max-width: 767px) {
.mv-btn {
	margin-top: 52px;
	}
}





#introduction {

	padding: 200px;
}

@media screen and (max-width: 767px) {
	#introduction {
		padding: 0px;
	}
	
}



#introduction > .inner {
	padding-bottom: 120px;
	padding-top: 60px;
}

#introduction p{
	padding-top:100px;
}


.introduction-section-title {
	font-size: 60px;
	font-weight: 700;

	padding-bottom: 36px;
	position: relative;
	text-align: center;
}

.introduction-section-title::after {
	-webkit-transform: translate(-50%);
	background: #52aeef;
	bottom: 0;
	content: "";
	height: 5px;
	left: 50%;
	position: absolute;
	transform: translate(-50%);
	width: 76px;
}
/*                        ここまで紹介文                             */

/* *****************概要********************* */
.gaiyou a	{display: block;
	/* background-color:red; */
	color: #ffffff;
	text-align: center;
	text-decoration: none}

.gaiyou a:hover	{opacity: 0.8}

.gaiyou img	{display: block;
	padding-top: 40px;
	padding-bottom: 40px;
    width: 100px;
    margin: 0 auto;}

.gaiyou .box6-img01	{
	background-image:url(../image/1270483.png);
	background-size:cover;
	width:auto;
}
.gaiyou .box6-img02	{
	background-image:url(../image/1270479.png);
	background-size:cover;
	width:auto;
	
}
.gaiyou .box6-img03{
	background-image:url(../image/1270483.png);
	background-size:cover;
	width:auto;
}
.box6-1 h1{
	background:#ec4c7c;
}
.box6-2 h1{
	background:#ec4c7c;
}
.box6-3 h1{
	background:#ec4c7c;
}

.gaiyou h1	{margin-top: 0;
	margin-bottom: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 20px;
	font-weight: normal}

.gaiyou p	{margin-top: 0;
	margin-bottom: 0;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #524e3c;
	font-size: 12px}
/* ########### 768px以上 ########### */
@media (min-width: 768px) {

    /* BOX6-1、BOX6-2、BOX6-3を横に並べる設定 */
.box6:after	{content: "";
	display: block;
	clear: both}

.box6-1	{float: left;
	width: 32%;
	margin-right: 2%}

.box6-2	{float: left;
	width: 32%;
	margin-right: 2%}

.box6-3	{float: left;
	width: 32%}

.box6
	{padding-left: 15px;
        padding-right: 15px}
    
    }
.box6	{padding-top: 20px}

.box6-1, .box6-2, .box6-3
	{padding-bottom: 10px}



/* ***********ここまで概要**************** */







/*                        ここからお知らせ                      */

.news-items {
	/* padding-top: 90px; */
	height: 250px;
	overflow-y: scroll;
	padding: 0.2em 0.5em;
    margin: 2em 0;
    background: #b8d8f7;
    box-shadow: 0px 0px 0px 10px #b8d8f7;
    border: dashed 2px white;
}

.news-item {
	border-bottom: 2px dashed #707070;
	padding: 18px 0 16px;
	position: relative;
}

.news-item:last-child {
	border-bottom: none;
}

.news-meta {
	font-size: 0;
	left: 0;
	position: absolute;
	top: 16px;
}

.news-time {
	display: inline-block;
	font-size: 16px;
	vertical-align: middle;
	width: 115px;
}

.news-tag {
	display: inline-block;
	margin-right: 30px;
	vertical-align: middle;
}

.news-tag a {
	border-radius: 6px;
	color: #fff;
	display: block;
	font-size: 16px;
	font-weight: 700;
	min-width: 100px;
	padding: 4px;
	text-align: center;
	text-decoration: none;
}

.news-tag a:hover {
	opacity: 0.6;
}

.news-tag.m_tag2 a {
	background: #ec4c7c;
}

.news-tag.m_tag3 a {
	background: #ec4c7c;
}

.news-title {
	line-height: 1.625;
	padding-left: 245px;
}

.news-title a {
	color: #333;
	font-size: 16px;
	text-decoration: none;
}

.news-title a:hover {
	opacity: 0.6;
}

.news-archive-link {
	margin-top: 26px;
	text-align: center;
}

.news-archive-link a {
	color: #ec4c7c;
	font-size: 16px;
	font-weight: 700;
	text-decoration: none;
}

.news-archive-link a:hover {
	opacity: 0.6;
}

.news-tag.m_tag1.red{
	background-color:#FF0040;
	border-radius: 6px;
}
.news-tag.m_tag1.blue{
	background-color:#5858FA;
	border-radius: 6px;
}
.news-tag.m_tag1.gray{
	background-color:gray;
	border-radius: 6px;
}

/* ########### 1190px以上 ###########
 @media (min-width: 1190px) {
	.inner {
		margin: 0 auto;
		max-width: 100%;
		padding: 80px 0;
		padding-top: 68px;
		width: 980px;
	}
	
	}

@media screen and (max-width: 1082px) {
	.inner {
		padding-left: 24px;
		padding-right: 24px;
	} 

} */
@media screen and (max-width: 767px) {

	.news-meta {
		align-items: center;
		display: flex;
		margin-bottom: 8px;
		overflow: hidden;
		position: static;
	}

	.news-tag {
		float: right;
		margin-left: auto;
		margin-right: 0;
	}

	.news-title {
		padding-left: 0;
	}

} 
/* *********************************************************************************** */



/* ********************************バルーン教室の紹介******************************************** */
#school .parent,#decoration .parent{
    display:flex;
    justify-content:center;
    align-items: center;
}
#school p,#decoration p{
    font-size:15px;
    line-height:2;
    margin-bottom:15px;
}
#school p span{
	font-weight: bold;
}
#school .port .school-image{
    margin:40px auto;
	display:flex;
	padding: 0.2em 0.5em;
    margin: 2em 0;
    background: #b8d8f7;
    box-shadow: 0px 0px 0px 10px #b8d8f7;
    border: dashed 2px white;

}

#decoration .port .decoration-image{
margin:40px auto;
display:flex;
padding: 0.2em 0.5em;
margin: 2em 0;
background: #b8d8f7;
box-shadow: 0px 0px 0px 10px #b8d8f7;
border: dashed 2px white;

}

@media screen and (max-width: 767px) {
	#school .port .school-image,#decoration .port .decoration-image{
		display:block;
	}
}

#school .port .school-image img,#decoration .port .decoration-image img{
	width: 370px;
	height: 288px;
	padding:5px;
}
@media screen and (max-width: 767px) {
	#school .port .school-image img,#decoration .port .decoration-image img{
		width:100%;
		height:100%;
	}
}
#school .port .school-image p,#decoration .port .decoration-image p{
    font-size: 16px;
    margin: 5px;
    padding-left:45px;
}
@media screen and (max-width: 767px) {
	#school .port .school-image p,#decoration .port .decoration-image p{
		padding-left:0;
		font-size: 14px;
	}
}



#event {
	padding: 200px;
}


@media screen and (max-width: 767px) {
	#event {
		padding: 0px;
	}
}

#event > .inner {
	padding-bottom: 120px;
	padding-top: 60px;
}

#event p{
	padding-top:100px;
}


.event-section-title {
	font-size: 60px;
	font-weight: 700;

	padding-bottom: 36px;
	position: relative;
	text-align: center;
}

.event-section-title::after {
	-webkit-transform: translate(-50%);
	background: #ec4c7c;
	bottom: 0;
	content: "";
	height: 5px;
	left: 50%;
	position: absolute;
	transform: translate(-50%);
	width: 76px;
}

.event-flex {
	display:flex;
		align-items: center
}



@media screen and (max-width: 767px) {
	.event-flex {

	}
}

.event-button{
	display:block;
}

.event-button {
	width: 200px;
	height: 54px;
	text-align: center;
	text-decoration: none;
	line-height: 54px;
	outline: none;
	background-color: #ec4c7c;
	border-radius: 3px;
	margin: 0 auto;
  }
 .event-button::before a ,
  .event-button::after a {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
  }
  .event-button a,
  .event-button::before a,
  .event-button::after a {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
  }

  @media screen and (max-width: 767px) {
	.event-button {
		text-align:center;
	}
  }

  /* フェイスブック埋め込み */
	.facebook-like-box{
		width: 300px;
		margin: 0 auto;
	}	

	/* フッター */
	/*========================
　smartphone　bottom menu
　========================*/

/*PC表示の際はボトムメニューは表示しない*/
@media(min-width: 768px){
    .bottom-menu{display:none; }
}

.mini-text{font-size:10px;}/*文字大きさ*/

ul.bottom-menu {
    position: fixed;
    left:0;
    bottom:0;
    width: 100%;
    height:45px;/*高さ*/
    margin:0;
    padding:0;
    background-color:#f5f5f5;/*背景色*/
    border-top:2px solid #808080;/*バーの上の線*/
    border-bottom:2px solid #808080;/*バーの下の線*/
    z-index:30;}

ul.bottom-menu li {
    float:left;
    width:25%;
    background-color:#52aeef;/*背景色*/
    list-style-type:none;
    text-align:center;
    font-size:25px;/*アイコンのサイズ*/}

.bottom-menu li a {
    display: block;
    color:#808080;/*アイコン＆文字の色*/
    padding-top:10px;
    padding-bottom:5px;
    line-height:10px;
    text-decoration:none;}
:last-child
.bottom-menu li a:hover {
    color:#a9a9a9;/*マウスオーバー時の色*/}

/* === 展開メニュー === */

ul.menu-second-level {
    visibility: hidden;
    opacity: 0;
    z-index:1;}

ul.menu-second-level li a{
    border-top:1px dashed #a9a9a9;/*展開の枠点線*/
        font-size:15px;/*展開メニューの文字サイズ*/
        line-height:30px;/*文字の縦幅*/}

.menu-second-level li a:hover {
    height:100%;
    background: lightgrey;/*マウスオーバーの色*/}

li.menu-width-max ul.menu-second-level {
    position: absolute;
    bottom: 47px;/*高さ*/
    left: 0;
    box-sizing: border-box;
    width: 100%;
    padding:0;}

li.menu-width-max:hover ul.menu-second-level {
    bottom: 47px;/*高さ*/
    visibility: visible;
    opacity: 1;}

li.menu-width-max ul.menu-second-level li {
    float: left;
    width: 100%;
	border: none;}
	

	/* ギャラリー */
	/*------------------------------------*\
    MATERIAL PHOTO GALLERY
\*------------------------------------*/
/* #wrap{
	width: 500px;
	margin: 20px auto;
	}
	.smallimage {
	background-color: #fff;
	border: 1px solid #CCC;
	padding: 3px;
	margin: 10px 5px 0 0;
	} */

	/* お問い合わせ */


#gallery{
	padding:20px;
}

.gallery_container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-bottom: 200px;
	}

.gallery_display{
	width: 300px;
	height: 225px;
	margin: 10px auto;
    }

.footer{
	background-color: #524e3c;
}